/.gradle
/.idea
/build
/HaikuVMGradle.iml

/bootstrap/build
/bootstrap/bootstrap.iml

/example/build
/example/example.iml

/haiku_rt/build
/haiku_rt/haiku_rt.iml

/my_project/build
/my_project/my_project.iml

/gallerie/build
/gallerie/gallerie.iml